@font-face {
    font-family: 'Saint Monica';
    src: url('https://tiagoalexandrelopes.com/fonts/SaintMonicaRegular.woff2') format('woff2'),
        url('https://tiagoalexandrelopes.com/fonts/SaintMonicaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: m_medium;
    src: url(https://tiagoalexandrelopes.com/fonts/m_-medium-webfont.woff2) format("woff2"), url(https://tiagoalexandrelopes.com/fonts/m_-medium-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: m_light;
    src: url(https://tiagoalexandrelopes.com/fonts/m_-light-webfont.woff2) format("woff2"), url(https://tiagoalexandrelopes.com/fonts/m_-light-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

body{
  background: #131314;
  padding: 0;
  margin: 0;
  animation: bg 3s cubic-bezier(0.76, 0, 0.24, 1) forwards;
  animation-delay: 1s;
  font-family: 'm_light';
}

@keyframes bg {
    0% {
        background-color: #131314;;
    }
    100% {
        background-color: #18181A;
    }
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 3vh;
    border: 1px solid;
    padding: 3vh 4vh;
    margin: 3vh;
    display: inline-block;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

a:hover{
    background: black;
    color: #C81818;
}


section{
    padding: 10vw;
    box-sizing: border-box;
    position: relative;
    z-index: -1;
}

h1{
    font-size: 6vh;
    color: white;
    font-family: m_medium;
    line-height: 1.2;
}

section p{
    font-size: 4vh;
    line-height: 1.6;
    margin: 8vh 0;
}

#hero + section{
    margin-top: 100vh;
    color: #a3a3a3;
}

#hero{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 0 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#hero .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    animation: intro 5s cubic-bezier(0.76, 0, 0.24, 1) forwards;
}


@keyframes intro {
    0% {
        transform: scale3d(8, 8, 8) translate3d(0, 36%, 0);
    }
    50%{
        transform: scale3d(3, 3, 3) translate3d(0, 36%, 0);
    }
    100% {
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
}

svg{
    overflow: visible;
}

#hero h1{
  font-weight: normal;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

#hero span{
  display: block;
  margin: auto;
  text-align: center;
  font-size: 7vh;
  font-family: 'Saint Monica';
  color: #C81818;
  animation: text 3s cubic-bezier(0.76, 0, 0.24, 1) forwards;
  animation-delay: 2s;
  opacity: 0;
}


@keyframes text {
    0% {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1.5) translate3d(0, 20%, 0);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
}

#hero .tagline{
  font-family: 'm_medium';
  font-size: 1.5vh;
  text-transform: uppercase;
  margin-top: 2vh
}




.heraldry{
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}


.heraldry path{
    fill: #131314;
    animation: wolf 3s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
}

@keyframes wolf {
  0%, 100% {

  }
  50% {
    d: path("M351.568 0c26.351 12.05 44.216 26.555 54.036 43.296 9.602 16.74 12.196 24.775 17.111 23.878 42.649 5.136 70.562 11.61 83.964 19.2 19.868 11.38 64.977 33.475 101.377 5.13-7.895 32.24-32.154 40.172-49.35 39.503-1.785 0-2.678.446-2.231 1.116.67 1.115 18.98 14.732 32.154 36.603 13.173 21.871 28.166 41.07 72.13 37.72-17.42 18.3-36.623 24.993-57.613 19.862 32.154 20.31 64.531 24.553 96.914 12.72-9.851 18.618-23.914 25.668-37.74 28.122 43.989 15.848 85.304 25.668 126.613 25.222a375.15 375.15 0 0018.807-.75l15.817-15.697 13.028 12.927c62.996-7.832 125.11-25.76 187.932-24.156h3.353c8.709 0 57.166 5.136 66.991 7.367 90.441 20.978 103.391 41.56 153.187 58.97 49.796 17.404 82.305 5.707 93.469-.539 11.164-6.25 20.32-15.402 23.227-33.48 8.48-51.778-53.378-85.792-64.319-88.92-11.159-3.123-26.123-9.146-52.92-4.015-17.865 3.35-23.486 9.374-26.615 34.819-14.358-9.151-17.601-25.668-9.785-43.078-28.36 11.833-51.804 29.596-69.893 63.518-4.915-36.593 6.473-43.209 17.196-55.036-39.97 27.676-59.898 39.726-104.954 36.38 14.736-3.569 27.914-13.166 39.748-28.568-32.606 13.166-86.545 5.267-119.146-2.318-21.664-5.135-38.574-8.933-53.377-25.668 21.888 7.813 59.753 9.146 73.377 4.015-5.143 0-30.946-.892-37.2-2.676-20.32-5.805-38.507-22.862-50.341-38.487-12.93-17.057-18.493-49.848-47.445-65.167-26.18-13.856-57.903-3.89-57.903-3.89s19.215-15.003 41.606-15.807c54.254-1.945 79.643 20.969 103.757 49.314 15.41 18.073 63.106 37.879 91.912 47.476-33.94-12.05-92.969-55.798-105.924-77.222-13.396-22.322-39.524-30.44-50.911-33.79-7.594-2.231-25.223-5.045-40.405-4.598 28.801-16.74 68.541-17.54 87.294-12.187 18.763 5.582 45.114 19.417 65.657 41.288 20.544 21.876 67.118 42.632 85.87 47.985 12.504 3.574 22.558 4.913 30.374 3.798-29.252-11.61-36.453-27.23-41.586-46.87 13.62 15.625 46.273 28.345 77.093 19.863 30.815-8.482 69.665-12.274 98.025-4.238 18.763 5.353 37.744 14.504 56.725 27.224 3.124-11.381-2.907-23.432-18.535-36.375 39.47 2.9 57.607 30.13 66.322 68.294 3.348-7.59 6.529-20.744-2.46-39.731 28.583 13.394 43.546 37.719 45.109 72.315 7.593-5.354 13.173-19.194 16.297-41.735 22.487 31.915 19.21 56.152 6.478 90.97 22.131-14.296 29.699-8.413 39.753 2.547-31.189 0-12.111 27.094-23.052 65.259-10.942 38.388-36.798 70.482-48.409 82.533-11.61 12.056-70.247 43.97-141.25 25.668-64.314-16.289-115.503-93.027-161.5-98.158 34.833 14.287 55.425 38.655 77.312 60.302 22.999 22.769 86.19 73.07 111.65 71.286 16.972-1.115 33.72-9.597 50.688-25.222.893 11.61.446 20.756-1.11 27.007l33.492-21.425c2.455 12.502 2.455 23.879-.223 34.145l18.981 13.389c8.04 5.587 29.699 18.53 34.837 34.15 2.897 8.928 2.897 20.314 2.01 32.142 0-.223.222-.223.222-.223 4.687-2.459 13.402-1.115 26.128 4.238 14.736 5.577 22.1 15.18 22.324 28.791-13.173-12.05-25.23-4.461-29.47-2.23-4.246 2.23-5.357 7.584-2.684 12.502 2.46 4.907 9.607 10.93 18.088 10.038 8.486-.67 20.543-2.231 26.351-.446 4.018 1.115 8.71 4.907 14.294 11.158 15.182 12.056 20.544 24.999 16.298 37.719-4.017-10.266-10.718-15.848-19.874-16.517-2.901.446-6.249 1.79-10.266 3.797-5.813 3.123-18.986 2.677-26.133-2.454-7.147-5.135-10.272-4.466-12.28-3.346-2.014 1.116-4.241 5.13-3.795 8.923.447 3.797 8.486 16.517 10.495 23.214 2.009 6.692-2.232 16.964-4.692 21.871-1.785 3.346-4.464 7.367-8.263 12.497 0 6.92 5.362 13.394 15.856 19.194-18.975 2.236-31.038-4.238-36.846-19.64-1.339-3.346-2.901-6.469-4.91-9.374-2.906-4.238-4.686-12.943-2.013-17.856 2.683-5.13 4.915-10.26 4.245-16.74-.67-4.238-2.232-7.584-5.138-9.592 2.237 4.015 1.79 11.382 1.116 13.166-.447 1.79-1.563 3.346-5.134 5.13-3.576 1.79-6.477 6.921-7.816 12.949-1.34 6.023-2.455 9.15-5.803 12.943-2.237 2.459-6.254 5.582-11.834 9.597-4.022 8.036-1.12 16.969 8.704 27.23-17.413-4.462-25.905-15.848-25.905-34.596-.67-6.915-.892-12.051-.67-14.95.447-4.462 6.032-12.498 9.385-17.857 3.343-5.353 0-10.489 2.896-15.848 2.907-5.353 12.062-8.927 14.294-10.93 2.237-2.013 2.684-5.136 1.34-7.59-1.34-2.458-3.795-8.932-10.044-11.604-4.022-1.79-6.7-2.905-8.04-3.574-4.022-1.567-6.254-7.813-6.477-11.382-.223-2.013 3.348-28.568 2.455-30.58-5.808-13.836-27.914-31.692-45.779-30.348-13.396.892-33.94 7.813-60.96 20.533l-51.81-.31c-10.94-6.92-22.552-8.928-34.609-6.028l4.018 24.77c-8.487-8.704-21.436-13.611-38.627-15.173l1.78 23.884c-109.193-15.625-144.7-39.286-179.091-71.2-34.386-31.914-27.016-61.38-27.468-68.071-.44-6.697-6.695 22.317 0 42.626 6.924 20.315 16.085 31.245 35.954 47.54 4.25 3.122 21.218 18.747 51.14 30.798 19.874 8.035 42.208 15.402 66.768 21.876-4.687 8.928-18.932 25.62-22.95 30.086-5.808 6.915 34.61-10.49 54.483-6.697 19.874 3.797 27.914 26.337 31.261 35.488 1.116 3.57 8.71 25.663 22.78 66.733.67 1.562 1.34 3.346 1.786 5.577.223.446.223.892.447 1.338h-.224c0 .447.224.893.224 1.344.674 5.8.451 14.505-.447 26.332 5.139 7.813 16.75 13.618 25.459 15.402 8.709 1.785 14.512 8.928 17.195 15.402 1.78 4.461 1.557 11.159-.893 20.756.224 18.078-7.147 30.575-21.887 37.267 6.254-12.497 6.254-23.204.446-32.36-4.469-3.123-8.932-8.259-13.842-15.402-7.147-10.707-12.95-10.484-17.42-7.584-4.463 2.9-10.048 9.374-7.37 21.202 2.907 11.827 1.34 18.078-2.008 24.33-2.232 4.238-6.25 9.145-12.057 14.509-3.576 8.03-.446 17.627 9.156 29.232-16.75-3.346-27.244-15.179-31.708-35.93-6.477-10.717-1.79-27.452 3.343-34.15 3.353-4.466 4.022-7.812 2.013-10.042-2.906-3.351-6.923-3.128-12.057.223-7.593 4.907-8.486 13.612-14.963 17.85-4.24 2.905-12.28 2.236-23.897-1.779-9.596 4.907-14.283 14.281-13.842 28.34-11.834-19.417-10.495-35.26 4.469-47.54 4.463-6.468 8.486-10.712 11.834-12.942 3.353-2.231 9.379-4.239 18.083-5.577 6.036-3.792 7.816-7.143 4.92-9.82-4.246-4.02-11.17 0-15.633 0-2.907 0-8.04-1.785-15.633-5.359-7.147-3.346-16.744-1.338-28.583 6.246 6.254-12.943 15.633-20.532 28.136-22.758 1.116.67 4.692-1.12 10.941-5.364 9.156-6.246 19.874.446 25.013 3.351 5.133 2.682 13.173 3.351 16.08 1.339 2.672-1.785 1.785-6.692.892-11.159-8.263-13.394-16.972-24.776-26.356-33.927-9.374-16.289-95.123 4.244-137.326 6.475-42.208 2.23-66.817-18.254-63.022-38.117 2.231-11.61 15.41-41.963 39.524-90.84-20.326-4.466-56.497-41.74-112.77-33.475-28.583 4.238-53.59 15.391-75.031 33.475l-11.388 31.691c-13.848-8.482-20.32-13.84-19.427-16.066l-13.843 36.598c-12.28-9.814-18.088-17.404-17.195-22.322L653.61 624.7c-12.726-12.274-19.427-20.978-20.096-26.56l-19.651 37.044c-15.41-14.722-45.942-17.67-92.837-.26 31.262-28.346 48.174-38.792 51.974-40.135 5.802-2.003 5.133-7.367 1.785-7.144-3.353.229-17.642 6.92-24.342 10.495-6.701 3.569-48.444 30.783-63.499 48.497-6.706 5.086-11.804 20.337-32.348 14.31l18.535 17.855c-19.427 8.258-37.739 7.812-54.711-1.339L432.269 698c-18.535 3.564-37.516-.897-57.167-13.394l14.736 27.006c-19.874 1.339-38.409-3.351-55.827-14.286-17.414-.223-29.922 1.566-37.516 5.358-4.91 2.454-10.048 5.354-15.628 8.928-10.272 7.367-19.204 13.39-21.436 14.064-4.469 1.556-6.924 4.907-4.915 17.181 2.008 12.274-3.571 19.863-9.156 24.33-3.57 2.9-8.932 5.353-15.851 6.92-11.17 5.8-21.441 6.469-31.267 1.78 7.594-.67 14.295-6.246 20.32-16.736 3.353-8.481 6.255-13.84 9.38-16.07 4.691-3.347 3.799-7.367 1.79-10.936-1.79-3.575-8.932-6.92-19.21-7.367-10.27-.446-15.181 5.36-15.85 12.949-.67 7.36-1.116 15.848-4.47 20.309-2.231 2.9-6.918 5.8-14.065 8.705-4.687 6.692-4.464 14.727.67 24.547-16.527-7.143-23.892-19.417-21.883-36.603-.67-6.474-.67-12.497.223-18.079 1.34-8.482 6.255-18.074 11.834-20.086 5.362-2.008 12.286-4.462 13.396-11.159 1.121-6.692-4.91-11.833-9.602-12.502-4.91-.664-14.512 3.797-18.534 4.467-2.679.45-6.696.45-12.057 0-7.37.897-12.058 6.697-14.066 17.632-6.031-17.855-1.786-33.03 12.726-45.308 8.487-6.47 16.08-9.374 23.004-8.705 10.495 1.12 14.735 7.366 20.766 9.602 6.255 2.226 8.933.446 10.049-2.905 1.116-3.346-4.469-7.366-8.263-7.812-3.8-.446-6.7-.67-13.848-6.251-4.91-3.787-11.387-4.015-19.645-1.116 5.356-11.158 13.62-16.512 24.337-16.066 5.808-2.23 11.61-3.128 17.196-2.682 8.709.452 14.735 5.136 20.097 13.395 5.133 8.482 12.726 17.41 22.105 18.97 2.46.447 5.139.67 7.817.447a593.712 593.712 0 0171.232-31.914c38.185-14.51 71.96-53.215 90.49-69.28 18.534-16.072 52.25-79.459 54.934-83.92 2.455-4.461 1.116-10.048-2.684-6.92-2.678 2.013-30.368-15.044-83.512 8.834-6.254-3.57-13.624-15.62-22.334-36.598l13.848 45.08c-18.088.446-36.4-6.028-55.158-19.64l8.04 29.906c-17.865-4.244-33.944-15.397-48.233-33.48l-.447 25.673c-17.642-8.259-30.815-22.992-39.078-43.97l-3.799 26.109c-14.066-8.482-23.891-19.194-29.476-31.914-15.633-5.577-28.583-12.051-39.078-19.64-15.85-11.159-35.283-19.64-43.988-31.022-.451-.67-.898-1.562-1.12-2.454-4.241-2.236-8.928-1.344-12.058-.451-3.57 1.12-5.585 3.574-9.825 9.15-4.24 5.582-7.37 10.713-11.834 11.834-2.901.892-6.7 1.561-11.616 2.23-10.048 2.454-18.753 1.339-26.123-4.02 6.25.223 11.388-4.015 15.41-12.274 1.786-13.166 6.924-16.735 17.196-19.417 10.048-2.677 13.842-11.382 11.382-20.533-2.455-9.15-7.811-14.955-14.958-12.948-7.147 2.013-12.057 12.502-18.535 15.402-6.254 2.905-13.173 3.574-20.766 4.244-5.134.669-10.049 5.353-14.964 14.281-6.924-21.425 5.138-40.842 10.271-43.296 5.139-2.458 5.808-6.697 6.924-10.266 1.116-3.574 4.24-8.482 12.509-10.717 5.356-1.334 12.28 0 20.097 4.466-7.147-24.107-21.218-28.568-30.597-30.799-6.25-1.343-10.718-3.574-13.62-6.25-6.477-.67-13.619.446-20.989 3.574 4.24-18.753 15.405-21.207 18.535-24.553 3.57-3.797 9.825-6.92 18.534-9.151 24.56-6.474 29.476 22.317 30.146 27.23.67 4.907 1.339 14.281 9.825 12.05 8.486-2.23 2.455-14.51.893-16.963-1.34-2.454-2.232-4.015-3.577-8.7-.892-3.128.675-7.143 4.693-12.056 1.115-7.143-.67-14.955-4.693-23.432 9.38 2.23 17.642 9.597 24.343 21.87 4.246 4.685 8.263 9.821 10.049 16.518 1.785 6.47 2.237 10.713-2.455 21.871-4.693 11.382-4.246 20.533-3.125 24.325.893 3.797 4.017 11.833 10.495 17.186 4.687 4.02 13.173 8.259 18.53 11.159 4.245-.223 8.937 1.784 13.847 7.589 24.56 28.568 202.76 54.293 202.76 25.343 0-.242 25.681 5.772 32.159 1.98-28.588.223-46.9-7.143-54.488-22.317 36.846.223 58.952-9.597 66.099-29.683-16.08 4.461-29.923 5.8-41.533 4.015 25.676-17.186 43.541-35.488 53.143-54.905 14.518-29.238 7.147-58.029.224-71.418 1.785 23.656-4.916 42.85-20.32 57.136 4.24-17.855 3.347-29.688-2.456-35.042-7.37 7.813-8.178 18.166-12.865 21.294-6.924 4.908-26.574 8.705-38.854 15.174-12.28 6.474-29.7 22.094-36.846 26.56-7.147 4.467-10.495 5.805-16.75 4.913-6.249-.892-20.856-8.128-21.52-10.136-.675-2.23 5.223-.13 7.678-1.92 1.785-1.338 3.57-2.9 5.58-4.684-5.58-6.697-8.258-12.051-8.258-15.848 10.936 4.466 17.19 6.697 18.53 6.92 1.343.223 2.236-.446 2.454-1.785-4.017-6.474-6.472-11.158-7.142-14.286 10.049 4.69 16.08 7.143 18.312 7.59 2.232.222 2.678-.224 1.785-1.785-4.469-6.028-6.924-10.713-6.924-14.064 10.272 6.028 17.196 8.705 20.32 7.813l1.563-1.785c-4.91-6.92-7.365-12.05-7.589-15.625 11.388 5.359 18.307 7.813 20.32 7.59 2.232-.223 2.679-.893 1.786-1.785-4.246-5.582-6.7-10.266-7.37-13.617-56.407 15.402-52.613 25.343-81.196 43.644-21.436 13.395-56.536 23.763-78.107 1.26 47.787.892 76.147-19.324 99.815-38.518-8.704-4.69-14.736-10.043-18.088-15.848l-2.01 1.116c-.892 5.805.452 13.389 3.8 22.768-8.04-2.682-14.517-7.813-19.65-15.848-6.924 1.784-11.165 2.454-12.955 2.23-2.455-.446-8.258-3.792-7.142-10.935 1.116-7.143 6.477-5.582 9.602-15.179.446-.892.446-1.561-.223-2.007-.893-.67-1.791-.446-2.679.892-.898 1.338-3.576 6.251-6.7 8.259-3.13 1.79-4.916 2.007-8.486.223-3.577-1.785-4.692-8.036-3.8-13.39.898-5.581 25.682-18.524 37.516-24.998 11.839-6.475 35.06-21.202 41.538-25.887 6.472-4.69 7.142-11.61 11.388-15.848 4.24-4.238 21.436-16.963 36.4-23.214 14.958-6.246 15.627-9.82 15.85-12.05.224-2.231-13.57-16.736-13.794-27.677-.223-10.935-1.116-29.014-15.633-42.18 10.049 1.785 31.664 7.367 44.391 16.735-.446 15.848.67 27.9 3.125 35.712 2.455 7.812 9.825 17.632 21.882 29.46-12.057-18.302-18.311-31.468-19.204-39.504-1.116-17.05 2.25-48.072.09-65.389zm445.357 83.384c-4.489 10.098-7.031 21.252-7.031 33.018 0 44.869 36.238 81.245 80.943 81.245 12.406 0 24.118-2.885 34.623-7.895-11.256 33.34-42.628 57.368-79.643 57.368-46.48 0-84.159-37.826-84.159-84.477 0-36.449 23.041-67.414 55.267-79.26zM254.118 210.46l-2.009 1.12c0 6.693 1.563 13.613 4.692 20.31 3.794-2.905 8.04-5.582 12.95-7.812-7.816-5.36-12.95-9.82-15.633-13.618zm80.164 5.805c-7.811 1.116-9.958 7.454-16.43 9.015 8.704 3.352 8.619-.087 10.181-.533 1.786-.446 4.692-4.02 6.25-8.482zm-19.199-23.878c-5.138-.223-5.361 6.023-.223 18.296-8.932-6.692-14.294-11.604-16.526-15.173-.446 6.697.447 12.273 2.902 17.186-7.594-4.243-13.397-8.705-17.42-13.394-1.561 8.481-1.338 14.733.899 18.525-6.478-3.346-11.616-7.59-15.633-12.497-1.786 5.13-1.34 11.158 1.562 18.748 15.405-7.144 37.07-11.382 64.76-12.497v-.228c-.224-4.016-2.01-8.26-5.585-12.497-4.464-4.239-9.38-6.47-14.736-6.47zm26.346-66.962c-7.37-3.792-15.628-3.792-24.337-.223-3.576 1.567-6.924 4.244-10.495 8.259l.255-.285a4.97 4.97 0 011.457-.811c-1.16.7-1.857 1.866-2.089 3.266-.464 2.806 1.393 5.139 3.946 5.606 2.791.466 5.112-1.4 5.576-3.967.465-2.339-1.166-4.672-3.487-5.372h.702c4.642.7 7.66 4.905 6.964 9.572-.697 4.666-4.875 7.705-9.523 7.005-4.41-.7-7.66-4.905-6.968-9.805.136-.55.273-1.101.459-1.604-1.104 1.555-2.438 3.327-3.546 5.1-2.009 3.123-7.147 5.582-15.182 7.366 1.786 2.23 6.026 3.346 12.504 3.123 7.37 7.143 15.633 8.259 25.012 3.128 14.066-7.59 7.811-25.891 4.464-28.122 3.347-2.905 8.04-3.569 14.288-2.236z");
  }
}


#anim{
    position: relative;
    width: 7vh;
    margin-bottom: 1vh;
    z-index: 9;
}

#anim svg{
    width: 100%;
    height: 100%;
}

@media (min-width: 600px){
    #hero span{
        font-size: 14vh;
    }
    #hero .tagline{
        font-size: 3vh;
        margin-top: 4vh
    }
    #hero #anim{
        width: 14vh;
        margin-bottom: 2vh;
    }
}